html {
    overflow-y: hidden;
}
body {
    font-family: monospace, serif;
    color: #fff;
    background-color: #444;
}
button {
    margin-left: auto;
    margin-right: auto;
    font-family: monospace, serif;
    background-color: #333;

    /* selected color */
    color: #fff;
    font-size: 32pt;
    margin-bottom: 16pt;
}
h1{
    font-size: 32pt;
    margin-bottom: 16pt;
}

#side-panel {
    text-align: center;
    margin-left: 60%;
    margin-top: 10%;
    height: 100%;
    background-color: #444;
}

#game-area{
    background-color: #333;
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.d, .f, .j, .k {
    /* rectangle inside of game area*/
    background-color: #fff;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 80%;

    /* animation */
    transition: all 50ms linear 0ms;
    filter: brightness(100%);
    transform: scale(1);

    /* text */
    font-size: 32pt;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    color: rgb(128, 128, 128);
}

.d {
    left: 10%;
    background-color: purple;
}
.f {
    left: 30%;
    background-color: cyan;
}
.j {
    left: 50%;
    background-color: greenyellow;
}
.k {
    left: 70%;
    background-color: rgb(255, 50, 50);
}

.note {
    /* this determines the speed of the note */
    animation: note 1400ms linear;
    transition: note 1400ms linear;
    position: absolute;
    z-index: -1;
    top: 100%
}

@keyframes note {
    from {
        top: 0;
    }
    to {
        top: 100%;
    }
}

#score, #combo, #accuracy, #misses, #bad, #good, #excellent, #perfect {
    display: inline;
}

#game-stats {
    font-size: 20pt;
}
#hit-stats {
    font-size: 20pt;
}
#perfect-stat {
    color: rgb(20, 214, 20);
}
#excellent-stat {
    color: greenyellow;
}
#good-stat {
    color: yellow;
}
#bad-stat {
    color: orange;
}
#misses-stat {
    color: rgb(254, 97, 97);
}

@media screen and (max-width: 1250px) and (min-height: 840px) {
    #warning {
        display: block;
    }
}
@media screen and (min-width: 1250px) {
    #warning {
        display: none;
    }
}