html {
    overflow-y: hidden;
}
body {
    font-family: monospace, serif;
    color: #fff;
    background-color: #444;
}
button {
    margin-left: auto;
    margin-right: auto;
    font-family: monospace, serif;
    background-color: #333;

    /* selected color */
    color: #fff;
    font-size: 32pt;
    margin-bottom: 16pt;
}
h1{
    font-size: 32pt;
    margin-bottom: 16pt;
}

#side-panel {
    text-align: center;
    margin-left: 60%;
    margin-top: 10%;
    height: 100%;
    background-color: #444;
}

#game-area{
    background-color: #333;
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 300ms linear 0ms;
}

.d, .f, .j, .k {
    /* rectangle inside of game area*/
    background-color: #fff;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 80%;

    /* animation */
    transition: all 50ms linear 0ms;
    filter: brightness(100%);
    transform: scale(1);

    /* text */
    font-size: 32pt;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    color: rgb(148, 148, 148);
}

.d {
    left: 20%;
    margin-left: -75px;
    background-color: purple;
}
.f {
    left: 40%;
    margin-left: -75px;
    background-color: cyan;
}
.j {
    left: 60%;
    margin-left: -75px;
    background-color: greenyellow;
}
.k {
    left: 80%;
    margin-left: -75px;
    background-color: rgb(255, 50, 50);
}

.note {
    /* this determines the speed of the note */
    animation: note 1400ms linear;
    transition: note 1400ms linear;
    position: absolute;
    z-index: -1;
    top: 100%
}

@keyframes note {
    from {
        top: 0;
    }
    to {
        top: 100%;
    }
}

.bonus {
    background: linear-gradient(
        60deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

#score, #combo, #accuracy, #misses, #bad, #good, #excellent, #perfect {
    display: inline;
}

#game-stats {
    font-size: 20pt;
}
#hit-stats {
    font-size: 20pt;
}
#perfect-stat {
    color: rgb(20, 214, 20);
}
#excellent-stat {
    color: greenyellow;
}
#good-stat {
    color: yellow;
}
#bad-stat {
    color: orange;
}
#misses-stat {
    color: rgb(254, 97, 97);
}

.perfect-colour {
    color: rgb(20, 214, 20);
}
.excellent-colour {
    color: greenyellow;
}
.good-colour {
    color: yellow;
}
.bad-colour {
    color: orange;
}
.miss-colour {
    color: rgb(254, 97, 97);
}

#hit-timing {
    position: absolute;
    width: 300px;
    height: 100px;
    text-align: center;
    font-size: 32pt;

    transition: all 100ms ease-out 0ms;
    top: 60%;
    left: 50%;
    margin-left: -150px;
}

@media screen and (max-width: 1250px) and (min-height: 840px) {
    #warning {
        display: block;
    }
}
@media screen and (min-width: 1250px) {
    #warning {
        display: none;
    }
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 2;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #444;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    z-index: 2;
}

.close-button {
    float: right;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #333;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.htp-trigger {
    font-size: 20pt;
}